
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #895024;
    font-family: "Comic Sans MS";
}

table {
    width: 50%;
    background: #4d1308;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
}

th {
    border-bottom: 1px solid #364043;
    color: #E2B842;
    background-color: #4d1308;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: center;
}

td {
    color: #E2B842;
    font-weight: 400;
    padding: 0.65em 1em;
}

select{
    background-color: #895024;
    color: #E2B842;
    font-family: Algerian;

}
input {
    background-color: #895024;
    color: #E2B842;
    font-family: "Comic Sans MS";
}

h1 {
    font-family: Algerian;
    color: #4d1308;
    font-size: 72px;
    margin: 10px;
}


.button {
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: "Comic Sans MS";
    color: #E2B842;
    margin: 4px 2px;
    cursor: pointer;
    padding: 8px 8px;
    width: 100%;
    background-color: #895024;
}

.buttons-group {
    text-align: center;
}
